/* main.css */

.linha {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.titulo-principal {
    margin: 20px 0;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 1em;
}

.principal {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.banner {
    width: 100%;
}

.utensilios {
    width: 150px;
    float: left;
}

/* beneficios */

.beneficios {
    background-color: #fff;
    padding: 20px;
}

.beneficios ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens {
    font-style: italic;
}

.imagemBeneficios {
    width: 60%;
}

/* produtos */

.produtos {
    padding-bottom: 50px;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 10px;
}

.produtos li:hover h2 {
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-desc {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

/* sobre */

.sobre {
    min-height: 400px;
}
.sobre p {
    text-align: justify;
    padding: 15px 0;
    margin: 15px 0;
    width: 700px;
}

.sobre em strong {
    color: #ff0000;
}

.sobre .missao {
    font-size: 20px;
}

/* contato */

form {
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

form input[checkbox] {
    margin: 0 10px;
}

.input-padrao {
    display: block;
    margin-bottom: 20px;
    padding: 10px 15px;
    width: 50%;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background-color: #ffa500;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s background;
}

.enviar:hover {
    background-color: #ff8c00;
}

table {
    margin: 20px 0 40px;
}

thead {
    background-color: #555;
    color: #fff;
    font-weight: bold;
}

th, td {
    border: 1px solid #000;
    padding: 8px 15px;
}